body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}

header {
  background-color: #5a00b5;
  padding: 20px;
  color: white;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 30px;
}

.produtos {
  display: flex;
  gap: 20px;
}

.produto {
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}
